<!-- 
  instead of using robot_setup_tf file, we should switch to a static publishing,
  described in link below in seciton 6.3
  http://library.isr.ist.utl.pt/docs/roswiki/tf.html#static_transform_publisher
  -->
<launch>
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
  </include>

  <include file="$(find freenect_launch)/launch/freenect.launch">
  </include>

  <include file="$(find laserscan_kinect)/launch/laserscan.launch">
  </include>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 base_link camera_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 100" />

  <node pkg="robot_setup_tf" type="tf_broadcaster" name="tf_broadcaster">
  </node>
</launch>